# OYBEK SysteM - Backend Konfiguratsiyasi
# Backend serverning to'liq manzili:
VITE_BACKEND_URL=https://https://oybek-system-backend-ce93.onrender.com

# Yoki lokal backend porti (agar localhost bo'lsa: 5000, 8000, 3001)
VITE_BACKEND_PORT=5000

