node_modules/
dist/
build/
.history/
.env
.env.*
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/.env
backend/.env.*
frontend/.env
frontend/.env.*
.DS_Store
*.log
