DATABASE_URL=postgresql://user:password@host/dbname?sslmode=require
PORT=5000

JWT_SECRET=random-long-secret-string
ADMIN_USERNAME=oybek
ADMIN_PASSWORD_HASH=bcrypt-hash-bu-yerda

CRON_SECRET=random-secret-for-cron-endpoint
